In [1]:
#import libraries
import pandas as pd
import matplotlib.pyplot as plt
from datasets import load_dataset

c:\Users\DORCAS\anaconda3\envs\python_job_data_project\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
#load dataset

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

Using the latest cached version of the dataset since lukebarousse/data_jobs couldn't be found on the Hugging Face Hub
Found the latest cached dataset configuration 'default' at C:\Users\DORCAS\.cache\huggingface\datasets\lukebarousse___data_jobs\default\0.0.0\1d815e9ce232eb27db11939c44eb048fe6d2e9ab (last modified on Sun Apr 20 16:26:43 2025).

In [5]:
# sample data

df.sample(10)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
346104,Data Scientist,Data Science Internship,"Idar-Oberstein, Germany",via Indeed,Internship,False,Germany,2023-08-28 23:37:59,False,False,Germany,None,NaN,NaN,Canal+ Luxembourg,"['python', 'r', 'sql']","{'programming': ['python', 'r', 'sql']}"
169270,Data Engineer,Data Engineer,"Charlotte, NC",via LinkedIn,Contractor,False,"Texas, United States",2023-02-16 15:09:13,False,False,United States,None,NaN,NaN,Kaizer Software Solutions,"['sql', 'python', 'snowflake', 'aws', 'azure',...","{'cloud': ['snowflake', 'aws', 'azure'], 'libr..."
604240,Business Analyst,BI Analyst,"Ardooie, Belgium",via Indeed,Full-time,False,Belgium,2023-11-14 10:11:42,False,False,Belgium,None,NaN,NaN,ardo,"['sql', 'sap']","{'analyst_tools': ['sap'], 'programming': ['sq..."
49858,Software Engineer,Ingeniero Python Backend,"Córdoba, Córdoba Province, Argentina",via BeBee,Full-time,False,Argentina,2023-08-24 06:52:41,True,False,Argentina,None,NaN,NaN,Emprego,"['python', 'sql', 'mysql', 'django']","{'databases': ['mysql'], 'programming': ['pyth..."
259176,Data Scientist,Data Scientist - Vehicle Procurement (On-site ...,"Estero, FL",via Hirepurpose,Full-time,False,"Florida, United States",2023-04-30 07:04:01,False,False,United States,None,NaN,NaN,Hertz Corporation,"['python', 'sql', 'aws', 'databricks', 'pyspar...","{'analyst_tools': ['tableau'], 'cloud': ['aws'..."
194639,Data Analyst,Data Analyste,"Paris, France",via Welcome To The Jungle,Full-time,False,France,2023-04-06 15:22:26,False,False,France,None,NaN,NaN,Avanty,"['python', 'r', 'tableau']","{'analyst_tools': ['tableau'], 'programming': ..."
537486,Senior Data Engineer,Senior Data Engineer within Savings,"Stockholm, Sweden",via BeBee,Full-time,False,Sweden,2023-08-23 19:25:32,True,False,Sweden,None,NaN,NaN,SEB,"['python', 'sql', 'gcp', 'bigquery', 'airflow'...","{'cloud': ['gcp', 'bigquery'], 'libraries': ['..."
532873,Data Analyst,Retirement 401k Auditor and Benefit Enrollment...,Anywhere,via ZipRecruiter,Full-time,True,"Florida, United States",2023-11-15 19:03:02,True,False,United States,None,NaN,NaN,Upwork,['excel'],{'analyst_tools': ['excel']}
145824,Data Engineer,Snowflake Data Engineer,"Pune, Maharashtra, India",via LinkedIn,Contractor,False,India,2023-07-01 08:11:50,True,False,India,None,NaN,NaN,TekIntegral,"['sql', 'python', 'snowflake']","{'cloud': ['snowflake'], 'programming': ['sql'..."
704883,Data Analyst,Data Analyst Intern,Anywhere,via Indeed,Full-time,True,"Illinois, United States",2023-01-10 03:02:30,False,False,United States,None,NaN,NaN,Co-op Solutions,['sql'],{'programming': ['sql']}